*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 2%;
    font-family: sans-serif;
}
header{
    background-image: url("img/banner_bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.774);
}
.navHead{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding: 2% 0;
    height: 20%;
}
.logo{
    font-weight: 900;
    margin-top: 8px;
    cursor: pointer;
}
.logo:hover{
    color: white;
}
.T{
    font-size: 30px;
    color: rgb(207, 199, 81);
}
.ulHead{
    display: flex;
    justify-content: space-between;
     width: 50%;
}
li{
    list-style-type: none;
    margin: auto;

}
li:hover{
    cursor: pointer;
    color: white;

}
.txtHead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
    margin: 0 auto;
}
.titleHead{
    font-size: 38px;
    font-weight:normal;
}
.html5{
    color: rgb(104, 209, 228);
    font-weight: 700;
    font-size: 40px;
}
.tinkerSpan{
    font-weight: 700;
    font-size: 40px;
    color: rgb(207, 199, 81);

}

.paraTitle{
    text-align: center;
    padding: 20px 50px;
}
button{
    border-radius: 50px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}