*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    height:300px;
    background-color: black;
}
span{
    color: white;
}